body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


a {
    color: white;
    text-decoration:aquamarine;
    transition: color 0.5s;
}

h2 {
    color: black;
    text-decoration: overline;
}
html {
    scroll-behavior: smooth;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .sections {
   color: white;
   background-color: grey;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .nav {
    display: flex;
    justify-content: center;
    background-color: rgba(133, 133, 130, 0.664);
  }
  .navlink {
    color:red 
  }
  .nav_list {
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
  }

  .img {
    display: flex;
    justify-content: center;
    background-color: grey;
    
  }
  img {
    border: 5px solid white;
  }
  .link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
  }
  
  .link:hover {
    color: #5d7260;
  }
  .text {
    width: 600px;
    text-align: center;
  }
.writting {
    display: flex;
    align-items: center;
    margin-right: 300px;
    text-align: center;
}
.footer {
    background-color: rgba(133, 133, 130, 0.664);
    display: flex;
    flex-direction: column;
}
.container-footer {
    display: flex;
    align-items: center;
}
.footer-link {
    padding-right: 40px;
}
.footer-link-icon{
padding-right: 40px;
}

.footer-link-year {
    padding-left: 80px;
}